@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@400;700&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-main: #730217;
  --color-secondary: #2e2e2e;
  --color-primary: #f6f1e7;
  --color-bf-btn: #b30000;
  --color-btn-hover: #880000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html, body { 
  font-family: "Noto Serif Thai", serif;
}


@layer utilities {
  /* For Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes scaleIn {
    0% {
      transform: scale(0.96);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fadeIn 0.15s ease-out forwards;
  }
  .animate-scale-in {
    animation: scaleIn 0.18s ease-out forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes scaleIn {
    0% {
      transform: scale(0.96);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.15s ease-out forwards;
  }

  .animate-scaleIn {
    animation: scaleIn 0.18s ease-out forwards;
  }
}

.slick-slider {
  position: relative;
  display: block;
}

.slick-dots {
  bottom: 12px !important;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 10px; /* ปรับขนาดได้ตามต้องการ */
  opacity: 0.9;
}

.slick-dots li.slick-active button:before {
  color: #f1d500 !important; /* สีหลักของ LifeGear */
  opacity: 1;
}

.heading {
  @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-shadow-lg;
}

.heading2 {
  @apply text-2xl sm:text-3xl font-bold text-shadow-lg;
}

.heading3 {
  @apply text-xl sm:text-2xl font-bold text-shadow-md;
}

.heading4 {
  @apply text-lg sm:text-xl font-bold text-shadow-md;
}

.super-text {
  @apply text-2xl sm:text-3xl font-semibold;
}

.normal-text {
  @apply text-xl sm:text-2xl font-semibold;
}
