@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.font-serif-thai {
  font-family: 'Noto Serif Thai', serif;
}

@layer utilities {
  /* For Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slick-slider {
  position: relative;
  display: block;
}
.slick-dots li button:before {
  color: white;
}

.heading {
  @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-shadow-lg;
}

.heading2 {
  @apply text-2xl sm:text-3xl font-bold text-shadow-lg;
}